.main_section {
  margin: 3.5rem auto 0 auto;
}

h1{
    font-size: 1.5em;
    font-weight: bold;
}

p{
    color: var(--accent_text);
}
h1, p{
    margin-bottom: 1.5rem;
}

#about{
    text-decoration: underline;
    text-decoration-color: var(--accent_text);
    text-decoration-thickness: .15em;
}

.statement{
color: Red;
}
