:root {
    --main_gap: 8rem;
    --sm_gap: 2.5rem;
}

body {
    background: white;
}

.main {
    margin-top: 0;
    padding-top: 0;
}

img {
    border-radius: .5rem;
}

.page-container {
    width: 100%;
    max-width: 1400px;

}

.hero {
    height: auto;
    position: relative;
}

.hero>img {
    width: 100%;
    height: auto;
    border-radius: 0 0 .5rem .5rem;
}

.hero_text {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 5% 5% 0 5%;
    border-radius: 0 0 .5rem .5rem;
    font-size: 1vw;
    color: white;


}

.hero_text h1 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;

}

.all-grid {
    display: grid;
    row-gap: var(--main_gap);
    column-gap: var(--sm_gap);
    margin-top: var(--sm_gap);
}

.grid-full-span {
    grid-column: span 4;

    img {
        border-radius: 0;
    }
}

.grid-span-2 {
    grid-column: span 2;
}

.diagram {
    width: 100%;

    img:nth-child(2) {
        display: none;
    }
}



.site {
    width: 100%;
    justify-self: center;
    align-self: center;
    img{
        border-style: solid;
        border-color:  hsl(0, 0%, 65%);
        border-width: 1px;

    }

}


.render-2 {
    align-self: center;

    img {
        border-radius: .5rem;
    }
}



.grp-4 {
    justify-content: space-around;
}

.render_3 {
    img {
        border-radius: .5rem;
    }
}

.render_4 {
    img {
        border-radius: .5rem;
    }
}


footer {
    display: none;
}

@media only screen and (max-width: 900px) {
    .main {
        width: 100%;
    }

    img {
        border-radius: 0;
    }

    .hero img {
        border-radius: 0;
    }

    .hero {
        position: static;
        // border: 5px solid red;
    }

    .hero_text {
        position: static;
        width: 75%;
        height: 100%;
        margin-inline: auto;
        background-color: hsla(0, 0%, 50%, 0);
        font-size: 1rem;
        color: var(--accent_text);
        border-radius: 0;
        text-align: center;
    }

    .hero_text p {
        font-size: 1.05rem;
    }

    .all-grid {
        margin-top: var(--sm_gap);
        // row-gap: 3rem;
        gap: var(--sm_gap);
        justify-content: center;
    }


    .diagram {
        width: 50%;
        justify-self: center;

        img:nth-child(1) {
            display: none;
        }

        img:nth-child(2) {
            display: block;
        }
    }

    .site {
        grid-column: span 4;
    }

    .render-1 {
        grid-column: span 4;

        img {
            border-radius: 0;
        }
    }

    .render-2 {
        grid-column: span 4;

        img {
            border-radius: 0;
        }
    }

    .plan {

        justify-self: center;
        grid-column: span 4;
        width: 80%;
    }

    .section-view {
        min-width: 280px;
    }


}