:root {
  --main_text: hsl(0, 0%, 65%);
  --accent_text: #333333;
  --main_gap: 8rem;
  --sm_gap: 2.5rem;
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background: url(../images/mainpage_bg.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 1em 0;
  background-color: #f7f7f7;
  position: relative;
}

.container {
  margin: auto;
  width: 70%;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo a {
  font-size: 1.2rem;
  color: var(--main_text);
}
.logo a span {
  color: var(--accent_text);
}
.logo a:hover {
  color: var(--accent_text);
}
.logo a:hover span {
  color: var(--main_text);
}

.nav-toggle {
  display: none;
}

.nav-toggle-lable {
  display: none;
}

.navigation {
  list-style: none;
  font-size: 0.9rem;
}
.navigation a {
  color: var(--main_text);
}
.navigation a:hover {
  color: var(--accent_text);
}

.home {
  display: none;
}

#about {
  color: var(--main_text);
}
#about span {
  color: var(--accent_text);
}
#about:hover {
  color: var(--accent_text);
}
#about:hover span {
  color: var(--main_text);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 70%;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 1.25rem;
}

.img_column {
  width: 100%;
  max-width: 1000px;
  height: auto;
  position: relative;
}
.img_column img {
  width: 100%;
  height: auto;
  border-radius: 0.75em;
}
.img_column h1 {
  font-size: 4vw;
  font-weight: bold;
}
.img_column .title {
  position: absolute;
  color: var(--main_text);
  transition: all 0.5s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.img_column .row1-text {
  top: calc(50% - 2.5vw);
  left: 5%;
}
.img_column .row3-text {
  top: calc(50% - 2.5vw);
  left: 5%;
}

.banner_hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease;
}

.img_column:hover .banner_hover {
  opacity: 1;
}
.img_column:hover .title {
  color: var(--accent_text);
}

.back-to-top {
  margin-top: var(--main_gap);
  margin-inline: auto;
  justify-self: center;
  padding: 0.5rem 0 0.5rem 0;
}
.back-to-top .back-to-top-bg {
  padding: 0 0.5rem 0 0.5rem;
  color: var(--main_text);
}

footer {
  color: var(--main_text);
  text-align: center;
  width: 100%;
  margin-top: auto;
  padding-top: 1rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
  }
  .logo {
    margin-left: 5%;
  }
  .nav-toggle:checked ~ nav {
    display: flex;
  }
  .nav-toggle {
    display: none;
  }
  .nav-toggle-lable {
    display: block;
    z-index: 999;
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    right: 5%;
  }
  .nav-toggle-lable span,
  .nav-toggle-lable span::before,
  .nav-toggle-lable span::after {
    display: block;
    background: var(--main_text);
    height: 3px;
    width: 1.2em;
    border-radius: 1px;
    position: relative;
  }
  .nav-toggle-lable span::before, .nav-toggle-lable span::after {
    content: "";
    position: absolute;
  }
  .nav-toggle-lable span::before {
    bottom: 5px;
  }
  .nav-toggle-lable span::after {
    top: 5px;
  }
  .navigation {
    --gap: 1em;
    position: fixed;
    inset: 0 0 0 60%;
    flex-direction: column;
    padding: min(30vh, 5rem) 1rem;
    background: hsla(0, 0%, 100%, 0.6);
    -webkit-backdrop-filter: blur(1rem);
            backdrop-filter: blur(1rem);
    z-index: 99;
  }
  nav {
    display: none;
  }
  .home {
    display: block;
  }
  li.home a {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    text-decoration-color: var(--accent_text);
  }
  .main {
    display: grid;
    grid-auto-rows: auto;
    width: 100%;
    height: calc(100vh - 2em - 1.75rem);
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    margin-top: 0;
  }
  .img_column {
    width: 100%;
  }
  .img_column img {
    border-radius: 0;
  }
  .img_column img.banner {
    display: none;
  }
  .img_column img.banner_hover {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: none;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .img_column h1 {
    font-size: 10vw;
  }
  .img_column .row1-text {
    left: 5%;
    top: 2.5rem;
    color: var(--accent_text);
  }
  .img_column .row3-text {
    left: 5%;
    top: 1.5rem;
    color: var(--accent_text);
  }
  .back-to-top {
    margin-top: 0;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */