body {
    background: white;
}

.main {
    margin-top: 0;
    padding-top: 0;
}

img {
    border-radius: .5rem;
}

.page-container {
    width: 100%;
    max-width: 1400px;

}

.hero {
    height: auto;
    position: relative;
}

.hero>img {
    width: 100%;
    height: auto;
    border-radius: 0 0 .5rem .5rem;
}

.hero_text {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 3% 5% 0 5%;
    border-radius: 0 0 .5rem .5rem;
    background-color: hsla(0, 0%, 50%, 0.3);
    font-size: 1.2vw;
    color: var(--accent_text);


}

.hero_text h1 {
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;

}



.grid-full-span {
    margin-top: var(--main_gap);
    display: flex;
    flex-wrap: wrap;
    gap: var(--main_gap);
    // justify-content: space-around;

    img {
        border-radius: 0;
    }
}

.grp-1{
    justify-content: space-around;
}
.site {

    max-width: 400px;
    width: 100%;


}

.diagram {
    width: 100%;
    max-width: 800px;
    min-width: 600px;
    // align-self: center;


}

.render_2 {
    padding-inline: 15%;

    img {
        border-radius: .5rem;
    }
}

.item {
    flex-basis: 100%;
    max-width: calc((100% - var(--main_gap) * 2) / 3);
}

.section-view {
    margin-inline: auto;
    width: 35%;
}

.grp-4{
    justify-content: space-around;
}

.render_3{
    img{
        border-radius: .5rem;
    }
}

.render_4{
    img{
        border-radius: .5rem;
    }
}


footer {
    display: none;
}

@media only screen and (max-width: 900px) {
    .main {
        width: 100%;
    }

    img {
        border-radius: 0;
    }

    .hero img {
        border-radius: 0;
        width:auto;
        object-fit: cover;
    }

    .hero {
        position: static;
        // border: 5px solid red;
    }

    .hero_text {
        position: static;
        width: 75%;
        height: 100%;
        margin-inline: auto;
        padding: 1.5rem 5% 0 5%;
        background-color: hsla(0, 0%, 50%, 0);
        font-size: 1rem;
        color: var(--accent_text);
        border-radius: 0;
        text-align: center;
    }

    .hero_text p {
        font-size: 1.05rem;
    }

    .grid-full-span {
        margin-top: var(--sm_gap);
        // row-gap: 3rem;
        gap: var(--sm_gap);
        justify-content: center;
    }

    .site {
        width: 75%;
    }

    .diagram {
        width: 100%;
        min-width: 200px;
        padding-inline: 5%;
    }

    .render_2{

        
        padding-inline: 0;
        img{
            border-radius: 0;
        }
    }

    .plan {

        justify-content: center;
        .item{
            min-width: 280px;
        }
    }

.section-view{
    min-width: 280px;
}


.render_3{
    width: 100%;
    justify-self: center;
    img{
        border-radius: 0;
    }
}

.render_4{
    img{
        border-radius: 0;
    }
}


}